SYSTEM_NAME=invault

#Server config
ENVIRONMENT=development | homolog | production
DOMAIN_URL=
PORT=

JWT_SECRET=
JWT_EXPIRES_IN=

CORS_ALLOWED_ORIGINS=

#Database config
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=

SHAMIR_THRESHOLD=