#Server config
ENVIRONMENT=development | homolog | production
DOMAIN_URL=
PORT=

#Database config
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=

#Messaging config
USE_MESSAGING=
MESSAGING_CLIENT_URL=